body{
    background-color: var(--cor-background);  
    color: var(--cor-branca);
}
main{
    max-width: 2440px;
    margin: 0 auto;
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 77px;
}
.menu-header{
    display: flex;
    gap: 67px;
}
.link-menu-header{
    color: var(--cor-branca);
    font-family: var(--font-texto);
    font-size: 20px;
    font-weight: 500;
    transition: all 0.8s;
}
.link-menu-header:hover{
    color: var(--cor-primaria);
}
#home{
    color: var(--cor-primaria);
    font-size: 20px;
    font-weight: 500;
    font-family: var(--font-texto);
}
.secao-introducao{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    margin-top: 180px;
}
.bx-text-introducao{
    width: 630px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 100px;
}
.first-text-introducao{
    font-family: var(--font-titulo);
    font-size: 40px;
    font-weight: 400;
    color: var(--cor-branca);
}
.sg-text-introducao{
    font-family: var(--font-texto);
    font-size: 30px;
    font-weight: bold;
    color: var(--cor-primaria);
}
.bx-image-introducao{
    position: relative;
    width: 455px;
}
.bx-image-introducao img{
    width: 100%;
}
.orange-bloco{
    position: absolute;
    z-index: -1;
    width: 238px;
    height: 462px;
    background-color: var(--cor-primaria);
}
#ps-top-block{
    right: 270px;
    bottom: 170px;
    border-radius: 45px 0px 0px 45px;
    
}
#ps-bottom-block{
    top: 160px;
    left: 270px;
    border-radius: 0px 45px 45px 0px;
}
#linear-backgorund-main{
    position: relative;
    background: rgb(1,21,38);
background: linear-gradient(180deg, rgba(1,21,38,1) 0%, rgba(229,139,46,0.69) 28%, rgba(229,139,46,0.92) 51%, rgba(229,139,46,0.43) 78%, rgba(1,21,38,1) 100%);
}
.topicos-container{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
    gap: 70px;
}
.title-topicos{
    width: 100%;
    text-align: center;
    color: var(--cor-branca);
    font-size: 40px;
    font-weight: bolder;
    font-family: var(--font-titulo);
    width: 786px;
}
.card-topicos-container{
    width: 100%;
    height: auto;
    display: grid;
    grid-template:repeat(2, 500px) / repeat(3, 340px);
    justify-content: center;

    column-gap: 40px;
}
 /*Border radius de todos as divs dentro do flip-card */
.flip-card,.flip-card-interna,.flip-card-frente img,.sombra-img,.flip-card-costas{
    border-radius: 8px;
 }
 /*O recipiente do cartão flip - defina a largura e a altura como desejar. */
.flip-card{
    width: 300px;
    height: 400px;
}
/* Este contêiner é necessário para posicionar a frente e o verso */
.flip-card-interna {
    position: relative;
    width: 100%;
    height: 100%;
    transition: 1.3s;
    transform-style: preserve-3d;
} 
/* Faça um giro horizontal ao mover o mouse sobre o contêiner da caixa de virar */
.flip-card:hover .flip-card-interna {
    transform: rotateY(180deg);
}
.sombra-img{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:#2c2c2c7a;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--font-texto);
    font-size: 26px;
    font-weight: bolder;
   
}
.sombra-img h3{
    text-shadow: rgba(0, 0, 0, 0.678) 0.1em 0.1em 0.2em;
    height: auto;
}
#atv-color{
    color: #E54E3D;
}
.og-color{
    color: #F26A1B;
}
#inv-color{
    color: #35B756;
}
.wh-color{
    color: #EEEEEE;
}
/* Posicione a frente e o verso */
.flip-card-frente, .flip-card-costas {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.flip-card-frente img{
    width: 100%;
    height: 100%;
}
 /*Estilize a parte de trás */
.flip-card-costas {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-background);
    transform: rotateY(180deg);
    padding: 30px;
}
.flip-card-costas p{
    text-align: center;
    color: #EEEEEE;
    font-weight: bold;
    font-family: var(--font-texto);
}
.bx-video{
    position: relative;
    width: 100%;
    height: 477px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.blue-bloco{
    width: 461px;
    height: 542px;
    background-color: var(--cor-background);
    position: absolute;
}
#ps-top-blue{
    left: 130px;
    bottom: -30px;
    border-radius: 45px 350px 70px 45px;
}
#ps-bottom-blue{
    right: 130px;
    bottom: -30px;
    border-radius: 70px 45px 45px 350px;
}
.video{
    width: 1032px;
    height: 100%;
    border-radius: 50px;
    z-index: 1;
}
.sobre-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 130px;
}
.title-sobre{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 40px;
    font-family: var(--font-texto);
}
.bx-text-sobre{
    display: flex;
    align-items: center;
    gap: 100px;

}
.text-sobre{
    font-size: 30px;
    width: 580px;
    font-family: var(--font-texto);
}
#secao-desenvolvedores{
    background-color: var(--cor-background);
    width: 100%;
    height: 900px;
}

.secao-titulo{
    color: var(--cor-branca);
    font-family: var(--font-titulo);
    text-align: center;
    font-size: 40px;
    padding: 130px 0px 50px 0px;
}

#box-dev{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.conteudo-dev{
    width: 450px;
    height: 178px;
    display: flex;
    align-items: center;
    margin-left: 60px;
    
}

.imagem-perfil{
    width: 250px;
    height: auto;
    position: relative;
}

.imagem-perfil img{
    width: 100%;
}

.texto-perfil{
    width: 100%;
    position: relative;
    color: var(--cor-branca);
    font-size: 20px;
    margin-left: 20px; 
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: var(--font-texto);
}


.caixa-redes{
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.cargo p{
    width: 100%;
    height: 100%;
    color: var(--cor-branca);
    font-family: var(--font-texto);
}
.line-footer{
    height: 0.1px;
    width: 50%;
    margin: 50px auto;
    color: var(--cor-primaria);
}

footer {
    margin-top: 100px;
    background-color: #011526;
    color: #fff;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

#menu-rodape ul {
    display: flex;
    align-items: center;
    gap: 60px
}
.logo-rodape img {
    width: 230px;
    margin: 0px 80px;
}
.copy{
    text-align: center;
    font-size: 20px;
    font-family: var(--font-texto);
    margin-bottom: 15px;
}