:root{
    --cor-primaria:#F2A71B;
    --cor-background:#011526;
    --cor-branca: #EEEEEE;
    --cor-ativismo:#692215;
    --cor-inovacao:#1EEFA8;
    --cor-musica:#F26A1B;

    --font-titulo: "Raleway", sans-serif;
    --font-texto: "Jost", sans-serif;
}